body {
  background-image: url('../IMG/background.jpg');
}

nav {
    display: inline-block;
    width: 100%;
    margin: 0;
    vertical-align:top;
    overflow: hidden;
    background-color: #525151; 
}

nav img{
    position: relative;
    float: left;
    width: 2.7em;
    height: 2.7em;
    border-radius: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

nav ul li {
  position: relative;
  float: right;
  list-style-type: none;
  text-decoration: none;
  display: inline-block;
}

nav ul li a {
  color:black;
  text-decoration: underline;
  padding: 1em;
  background: #525151;
  transition: background 1s linear;
}

nav ul li a:hover {
  background: #282828;
  color: lightslategray;
  transition: background 1s linear;
}

/*  PARTEA CU DROPDOWN */ 
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

/* ---------------- */
main img {
    position: relative;
    align-content: center;
    width: 100%;
}

main section {
    color:lightgrey;
    margin-left: auto;
    margin-right: auto;
    width: 65em;
    /*margin-left: 20%;
    margin-right: 20%;*/
}

main section article h2 {
    margin-left:2em;
}

main p {
    font-size:1em;
    text-indent: 4em;
}
footer {
    margin-top: 3%;
    color: darkgray;
}

footer a,u,ul{
    margin-left:7%;
    margin-right:5%;
}

footer a {
    color:gainsboro;
}

footer hr {
    width: 90%;
}
footer ul li a{
    text-decoration: none;
    margin-left:0%;
}