body {
  background-image: url('../IMG/background.jpg');
}

nav {
    position: relative;
    width: 100%;
    margin: 0;
    z-index: 10;
}

nav * {
    padding:0;
    margin: 0;
}

nav img{
    float: left;
    width: 2.7em;
    height: 2.7em;
    margin-top: 0.3em;
    margin-right: 0.3em;
    margin-bottom: 0.3em;
    margin-left: 0.3em;
    border-radius: 1em;
}

nav>ul>li {
  float: right;
  list-style-type: none;
  text-decoration: none;
  display: inline-block;
  border-radius: 0.75em;
  margin-right: 0.2em;  
  margin-bottom: 0.15em;
}

nav ul li a, nav ul li div {
  color:black;
  text-decoration: underline;
  box-sizing: border-box;
  padding: 1em;
  background: #A0A0A0;
  transition: background 1s linear;
  border-radius: 0.75em;
}

nav ul li a:hover, nav ul li div:hover {
  background: #282828;
  color: white;
  transition: background 1s linear;
  border-radius: 0.75em;
}

/*  PARTEA CU DROPDOWN */ 

ul.menu>li,ul.menu>li>ul.submenu>li{
		display:block;
		text-align:center;		
		list-style-type:none;
		overflow:hidden;
	}

ul.menu>li{
	 float:right;
     height: 54px;
     width: 10em;
}
ul.submenu>li{
	 width:100%;
	}

ul.menu>li>a,ul.menu>li>div,ul.submenu>li>a{
		display:block;
		height:	100%;
		text-decoration:none;
		color:black;
	}

ul.menu>li>ul.submenu{
		position:relative;
	}

ul.menu>li>ul.submenu>li
	{
		border-top:0.01em dotted grey;
	}
ul.menu>li>ul.submenu>li:last-child
	{
		border-bottom:0.01em dotted grey;
	}
ul.menu>li:hover{
		overflow:inherit;
	}
/* ---------------- */

main img {
    position: relative;
    align-content: center;
    width: 100%;
    border-radius: 1em;
}

main section {
    color:lightgrey;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

main section article h2 {
    margin-left:2em;
}

main p {
    font-size:1em;
    text-indent: 4em;
}
footer {
    margin-top: 3%;
    color: darkgray;
}

footer a, footer u, footer ul{
    margin-left:7%;
    margin-right:5%;
}

footer a {
    color:gainsboro;
}

footer hr {
    width: 90%;
}
footer ul li a{
    text-decoration: none;
    margin-left:0%;
}