<head>
        <script src="../JS/footer.js"></script>
</head>
<footer>    
            <hr>
            <a href="#">~Revino la început~</a>
            <br/><u>Contact:</u> 
            <ul>
                <li>E-mail: <a href="mailto:rares33@yahoo.com">rares33@yahoo.com</a></li>
                <li>Telefon: 0746018999
                </li>
                <li>Adresă: București, Sector 6, Aleea Romancierilor, Bloc Z17</li>
            </ul>
            
            <div id="nr_cuv" style="color:white;text-align:center;">;
            </div>
</footer>