<!DOCTYPE html>
<html lang="ro">
    
    <head>
        <link rel="shortcut icon" type="image/x-icon" href="../IMG/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="../CSS/CSSGENERAL.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Gherasim Rares">
        <meta name="description" content="Personal training si diete online">
        <meta name="keyword" content="Contact, Formular, Informatii suplimentare ">
        <title>Formular de înregistrare</title>
    </head>
    
    <body style="background-color:black;">
        <%- include("../fragmente/header") %>
        
        <main>
            <br>
            <br>
            <br>
            <h1 style="color:white; padding-top:1.5em;padding-bottom:1.5em;padding-left:0.5em; font-size:5em;">
                ERROR 404, PAGINA NU EXISTĂ.</h1>
            <br>
            <br>
            <br>
        </main>
        
        <%- include("../fragmente/footer") %>
        
    </body>
</html>