<!DOCTYPE html>
<html lang="ro">
    
    <head>
        <link rel="shortcut icon" type="image/x-icon" href="../IMG/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="../CSS/CSSGENERAL.css">
        <link rel="stylesheet" type="text/css" href="../CSS/Diets.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Gherasim Rares">
        <meta name="description" content="Personal training si diete online">
        <meta name="keyword" content="Diete,Slabit,Ingrasare,Dezboltare Musculara,Mentinere">
        <script src="../JS/Diete.js"></script>
        <title>Diete</title>
    </head>
    
    <body style="background-color:black;">
        <%- include("../fragmente/header") %>
        
        <main>
            <img src="../IMG/66.jpg" alt="Imaginea nu s-a putut afișa">
            <section id="GeneralFacts">
                <article id="CeRol">
                    <h2>Ce rol au dietele in viețile noastre?</h2>
                    <p>Fără o dietă personalizată dorințelor noastre rezultatele în urma antrenamentelor vor întârzia să apară, iar calitatea vieții noastre va scădea și ea. Dieta trebie adaptată astfel încât să ne ajute să ne atingem scopurile pentru care am început-o (să slăbim, să creștem în masă musculară sau să avem o viață mai sănătoasă).</p>
                    <p>Pentru ca organismul tău să fie cât mai sănatos, trebuie să consumi un minim zilnic de nutrienți, iar pentru a obține o schimbare, trebuie să adaugi sau să elimini anumite alimente din consumul zilnic, practic ținând o dietă.</p>
                    <p>Pentru a afla necesarul zilnic de calorii în funcție de organismul dumneavoastră, dar și de scopul pe care îl urmăriți, dar și macronutrienții zilnici minimi pentru a obținute rezultate cât mai rapide, puteți folosi <a href="https://www.calculator.net/macro-calculator.html">acest calculator</a>. Pentru a vă putea urmări caloriile și macronutrienții consumați zilnic puteți folosi aplicația <a href="https://www.myfitnesspal.com/">My Fitness Pall</a>. </p>
                    <img src="../IMG/PiramidaBodyBuilding.jpg" alt="Imaginea nu s-a putut afișa.">
                </article>
                <article id="CePresupune">
                    <h3>Ce este o dietă?</h3>
                    <p>Dieta, prin definiția sa, reprezintă alegerea pe baza unor criterii a alimentelor ce urmeaa să fie consumate de un individ. Dieta poate fi păstrată pe o perioadă scurtă sau pe o perioadă lungă, putând chiar să devină un stil de viață.</p>
                    <p>În rândurile de mai jos urmează să vă prezint câteva tipuri de diete prezentate în mod general, urmând ca pentru o dietă cât mai specifică și personalizată, să fie nevoie să completați formularul disponibil <a href="LogIn.html"> aici</a>.</p>
                </article>
            </section>
            <section id="Diete">
                <article id="Slăbit">
                    <h2>Dietă pentru slăbit</h2>
                    <p>Principalul factor ce trebuie urmărit când urmați o dietă pentru slăbit este necesarul caloric specific organismului (care paote fi calculat <a href="https://www.calculator.net/macro-calculator.html">aici</a>).</p>
                    <p>Pentru a putea slăbi, cantitatea de calorii consumată zilnic trebuie să fie mai mică decât necesarul caloric cu cel puțin 600kcal și maxim 1000kcal. Aceste numere pot fi obținute prin reducerea mâncărurilor preprocesate, a sucurilor și a prăjiturilor din alimentație.</p>
                    <p>De altfel, pentru a favoriza arderea grăsimilor și păstrarea masei musculare, este recomandat să se ridice cât mai mult cantitatea de proteină vegetală sau animală consumată.</p>
                    <p>Pentru a vă fi mai ușor, iar pierderea în greutate săfie mai rapidă vă recomand să combinați dieta cu un <a href="./Workouts-Slabit.html">antrenament pentru slăbit</a> recomandat în articolele anterioare.</p>
                    <img src="../IMG/SlabitFata.jpg" alt="Imaginea nu s-a putut afișa">
                </article>
                <article id="Muschi">
                    <h2>Dietă pentru masă musculară</h2>
                    <p>La fel ca în cazul unei diete pentru slăbit, este foarte important să vă cunoașteți necesarul calori spefici organismului (care paote fi calculat <a href="https://www.calculator.net/macro-calculator.html">aici</a>).</p>
                    <p>Pentru a pune masă musculară pe tine, cantitatea de calorii consumată zilnic trebuie să fie mai mare decât necesarul caloric zilnic cu între 600kcal și 1000kcal. Trebuie să avem mare grijă la alimentele consumate, acestea trebuind să fie dominante în proteine (macronutrienții ce stau la baza dezvoltării musculare).</p>
                    <p>Pentru a micșora reținerile inevitabile de grăsime în perioada acestei diete, alimentele consumate trebuie să fie cât mai puțin procesate, iar grăsimile să fie cât mai reduse. Mesele cele mai semnificative ar trebuie puse în apropierea antrenamentrelor de la sală.</p>
                    <p>OBLIGATORIU, pentru rezultatem dieta trebuie combinată cu un <a href="Workouts-Mas%C4%83Musculara.html">antrenament pentru dezvoltare musculară</a>, care să genereze impulsul necesar mușchilor pentru a se dezvolta, precum cele prezentate în articolele anterioare.</p>
                    <img src="../IMG/MuschiBaiat.jpg" alt="Imaginea nu s-a putut afișa">
                </article >
                <article id="Sup">
                    <h3>BONUS : SUPLIMENTE RECOMANDATE</h3>
                    <ul>
                        <li><a href="https://www.myprotein.ro/sports-nutrition/impact-whey-protein/10530943.html">Proteină din zer</a></li>
                        <li><a  href="https://www.myprotein.ro/sports-nutrition/omega-3-esential/10529329.html">Omega-3</a></li>
                        <li><a  href="https://www.myprotein.ro/sports-nutrition/multivitamine-alpha-men/10530421.html">Complex de vitamine</a></li>
                        <li><a href="https://www.myprotein.ro/sports-nutrition/glucozamina-hcl-condroitina/10530539.html?autocomplete=productsuggestion">Condroitina,HCL și Glucozamină</a> (articulații)</li>
                    </ul>
                </article>
                <h2>PENTRU DIETE PERSONALIZATE, COMPLETAȚI <a href="./LogIn.html">ACEST</a> FORMULAR.</h2>
            </section>
            <button id="asc" type="button" onclick ="imgFunction()">Ascundere imagini</button>
        </main>
        
        <%- include("../fragmente/footer") %>
        
    </body>
</html>