<!DOCTYPE html>
<html lang="ro">
    
    <head>
        <link rel="shortcut icon" type="image/x-icon" href="../IMG/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="../CSS/AntranementeSlabire.css">
        <link rel="stylesheet" type="text/css" href="../CSS/CSSGENERAL.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Gherasim Rares">
        <meta name="description" content="Personal training si diete online">
        <meta name="keyword" content="Diete,Slabit,Cardio,Dezboltare Musculara,Mentinere">
        <title>Antrenamente pentru slăbit</title>
    </head>
    
    <body style="background-color:black;">
        <%- include("../fragmente/header") %>
        
        <main>
            <img src="../IMG/AntrenamenteSlabire.jpg" alt="Imaginea nu s-a putut afișa">
            
            
            <section id="GeneralFacts">
                <article id="Def">
                    <h2>Cum aș putea să slăbesc?</h2>
                    <p>În termeni generali și foarte simpli de înteles, pentru a putea să slăbești singurul lucru de care este nevoie este să fi pe <u>deficit caloric</u>.</p>
                    <h3>Ce însemnă deficit caloric și cum pot să obțin asta?</h3>
                    <p>Deficitul caloric este atunci când o persoană consumă pe parcursul unei zile mai multe calori decât arde prin diferitele activități fizice pe care le susține, dar și prin procesele de bază ale organismului. Organismul neavând necesarul caloric, se folosește de rezervele depozitate sub forma stratului adipos pentru a-și realiza procesele (practic arzând grăsimile). Pentru partea de dietă, mergeți <a href="./Diets.html">aici</a>.</p>
                    <img src="../IMG/imgWeightLoss.png" alt="Img nu s-a putut afișa">
                </article>
                
                <article id="Tips">
                    <h2>O să încerc să fiu cât mai direct</h2>
                    <p>Tot mai multe studii confirmă faptul că nu există persoane cărora le este dat sa aibă un strat adipos mai ridicat ("să fie mai grase") decât altele prin faptul că au anumite probleme medicale. Da, este posibil să ai arderi mai lente decât alte persoane, fiecare personă este diferită, dar acest fapt nu este un pretext pentru care să îți justifici faptul ca în loc să alegi după o zi de muncă să te întorci pe jos acasă, alegi mereu taxi-ul sau transportul în comun.</p>
                    <p>Înainte să prezint cele mai cunoscute tipuri de antrenamente pentru slăbit, doresc să precizez că până și activitățile de intensitate mică pot face o diferență foarte mare în lupta cu pierderea în greutate. Astfel de activități pot fi: ieșitul la o plimbare de 15-20 de minute în fiecare seară, mersul pe jos până acasă de la servici/facultate, practicarea sportului favorit pentru cel puțin o oră săptămânală.</p>
                </article>
            </section>
            
            
            <section id="Ant">
                <article id="HIIT">
                    <h2>H.I.I.T.</h2>
                    <p>Cel mai interesant, cel mai versatil și eficient mod de a te antrena când unicul tău scop este să slăbești este prin intermediul unui antrenament structurat în stilul H.I.I.T. (<i>High Intensity Interval Training</i>). După mai multe studii, acestea au devenit tot mai folosite deoarece au o serie de avantaje: durează mult mai puțin decât un antrenament cardio în care s-ar arde la fel de multe calorii, promovează păstrarea masei musculare și sunt mai interesante.</p>
                    <p>Antrenamentele de acest tip sunt alcătuite din cel putin 8 serii formate astfel: exercițiu cu intensitate ridicată (ex:30 secunde) și pauză egala cu durata exercitiului(ex:30 secunde). Prin exercitiu cu intensitate ridicată întelegem o formă de antrenament care ne ridică pulsul inimii la cel putin 80% din numărul maxim de bătăi al inimii tale. Există mai multe variații ale acestui tip de antrenament, toate depinzând de raportul dintre timp exercitiu și pauză.</p>
                    <p>Exemplu: un antrenament format din 10 serii de alegare la aproximativ 80% din viteza maximă timp de 30 de secunde, urmate de o pauză de mers de 45 de secunde. (Este important ca atunci când simți că nu poți să duci următorul sprint pentru toate cele 30 de secunde, să mai aștepți câteva secunde până te simți complet pregătit).  </p>
                    <p><b>Avantaje</b>: cea mai rapidă metodă pentru a arde căt mai multe calorii, durată scurtă și favorizează păstrarea musculaturii.</p>
                    <p><b>Dezavantaje</b>: nu este recomandat începătorilor și riscul de rănire este mai ridicat.</p>
                    <img src="../IMG/sprinter.jpg" alt="Imaginea nu s-a putut afișa">
                </article>
                
                <article id="Cardio">
                    <h2>Cardio echilibrat</h2>
                    <p>Cel mai cunoscut si cel mai practicat de oameni pentru a slăbi este antrenamentul de tip cardio. Acest tip de antrenament constă într-o sesiune lungă (cel puțin 30 de minute) de efort constant, periodă în care intensitatea antrenamentului fluctuează cât mai puțin. Acest antrenament poate fi practicat de oricine, indiferent de nivelul pregătirii fizice, iar riscul de accidentare este unul scăzut.</p>
                    <p>Versatilitatea acestui tip de antrenament este foarte importantă, acesta putând fi practicat oricând si oriunde, neexistând scuze. Există o mulțime de aplicații care vă pot urmării traseul, arătându-vă diferite statistici la finalul fiecărei sesiuni de alergare.</p>
                    <p>Cel mai mare dezavantaj este plictiseala care poate apărea pe parcursul antrenamentului deoarece acesta este monoton. Puteți face antrenamentul mai interesant ascultând muzica preferată sau poate chiar un audiobook sau podcast de care nu ați avut timp în restul zilei, atât timp cât puteți fi încă atenți la traseu.</p>
                    <p><b>Avatanje</b>: versatil, recomandat începătorilor, recuperare mai rapidă, îmbunătațește rezistența.</p>
                    <p><b>Dezavantaje</b>: timpul pierdut, plictisitor și poate să ducă la pierderi musculare </p>
                    <img src="../IMG/cardio.jpg" ALT="Imaginea nu s-a putut afișa">
                </article>
                
                <article id="Greu">
                    <h2>Antrenamentul cu greutăți</h2>
                    <p>Un alt tip de antrenament pentru pierderea masei adipoase este cel cu greutăți, realizat de regulă într-o sală de fitness. Antrenamentul cu greutăți te poate ajuta prin numeroasele lui beneficii să te menții pe deficit caloric și să pierzi grăsime.</p>
                    <p>Un antrenament realizat corect, nu doar că poate genera hipertrofie musculară(proces ce duce la dezvoltarea musculaturii unui individ), ba chiar te poate ajuta să arzi un număr mai mare de calorii pe un o perioadă mai lungă de timp, chiar și după terminarea sesiunii de antrenament, până la 48 de ore. Motivul pentru care aceste arderi au loc este faptul că organismul are nevoie de diferite elemente pentru a-și putea reveni, apelând și la rezervele de grăsime(dar și la alti nutrienți).</p>
                    <p>Exemplu: Un antrenament pentru slăbit, dar realizat cu greutăți poate să fie si un circuit format din 3-5 serii de :împins la piept cu haltera, genoflexiuni cu o ganteră la piept și tracțiuni. Exercițiile trebuie realizate cu greutatea adecvată, astfel încât să se poată realiza cel puțin 12 repetări din fiecare exercițiu. Trecerea de la un aparat la altul se va realiza fără pauză, pauza fiind de un minut DOAR între serii. (Dacă nu puteți face 12 tracțiuni, puteți folosi un suport, ori mecanic ori cu un partener). </p>
                    <p><b>Avantaje</b>:distractiv, dezvoltare musculară, îmbunătățește forța, recomandat pentru orice nivel de pregătire.</p>
                    <p><b>Dezavantaje</b>:este nevoie de acces la echipamente și o să aveți nevoie de cineva care să vă îndrume la început.</p>
                    <img src="../IMG/Greu.jpg" alt="Imaginea nu s-a putut afișa">
                </article>
                <h2>PENTRU ANTRENAMENTE PERSONALIZATE, COMPLETAȚI <a href="./LogIn.html">ACEST</a> FORMULAR.</h2>
            </section>
        </main>
        
        <%- include("../fragmente/footer") %>
        
    </body>
</html>